
<% if @monument.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@monument.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
    <% @monument.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<div class="formcontainer">
  <%= form_for @monument, :class => 'example-basic', :html => {:multipart => true} do |f| %>
    <div id="example-basic">
      <h3>Basic Info</h3>
      <section>
        <h2>Monument Data</h2>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :description, "Description" %>
        <br>
        <%= f.text_area :description %>
      </section>
      <h3>Images</h3>
      <section>
        <%= fields_for :images do |img| %>
          <%= img.label :images, "Image" %>
          <%= img.file_field :images, :multiple => true %>
        <% end %>                
      </section>
      <h3>Confirm</h3>
      <section>
        <p>The Name is: <span id='checkname'></span></p>
        <p>The next and previous buttons help you to navigate through your content.</p>
        <%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
      </section>
    </div>  
  <% end %>
  
</div>


<script>
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
      });
  
</script>