<%= form_for @monument, :url =>url_for(:controller => 'monuments', :action => 'second_part') do |f| %>
  <% if @monument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monument.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @monument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





<div class="formcontainer">
  <%= form_for @monument, :class => 'example-basic' do |f| %>
    <div id="example-basic">
      <h3>Basic Information</h3>
      <section>
        <p>Try the keyboard navigation by clicking arrow left or right!</p>
      </section>
      <h3>Images</h3>
      <section>
        <p>Wonderful transition effects.</p>
      </section>
      <h3>Confirm</h3>
      <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
        <%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
      </section>
    </div>  
  <% end %>
  
</div>


<script>
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
      });
  
</script>